---
layout: default
---

{% if paginator.page == 1 %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Hey, I'm Vladimir (aka SamProf).</h1>
        <p class="lead text-muted">I'm a software engineer, .NET Framework and JS world developer, open source contributor and Blazor fan.</p>
    </div>
</section>
{% endif %}

<div class="container">

    {% for post in paginator.posts %}
    <div class="post-item">
        <h1>
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>


        <div>
            {{ post.excerpt }}
        </div>

        <div style="display: flex; align-items: center;" class="alert alert-secondary">
            <div style="flex: 1;">
                {{ post.date | date_to_long_string }}
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read More</a>
        </div>

    </div>


    {% endfor %}


    <nav aria-label="Page navigation example">
        <ul class="pagination">


            {% if paginator.previous_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}


            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <li class="page-item active"><a class="page-link"
                                            href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{
                page
                }}</a></li>
            {% else %}
            <a href="{{ paginator.previous_page_path | relative_url }}">
                <li class="page-item"><a class="page-link"
                                         href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page
                    }}</a></li>
            </a>
            {% endif %}
            {% endfor %}


            {% if paginator.next_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Next</a></li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
