---
layout: default
---

{% for post in site.posts %}
<div class="post-item">
    <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
        </a>
    </h1>


    <div>
        {{ post.excerpt }}
    </div>

    <div style="display: flex;">
        <div style="flex: 1;"></div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read More</a>
    </div>

</div>


{% endfor %}


<!--{% for post in site.posts %}-->
<!--<section class="section">-->
<!--<div class="section-inner">-->
<!--<a href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a>-->
<!--<div class="content">-->
<!--{{ post.excerpt }}-->

<!--<a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-info">Read More</a>-->
<!--</div>&lt;!&ndash;//content&ndash;&gt;-->
<!--</div>&lt;!&ndash;//section-inner&ndash;&gt;-->
<!--</section>&lt;!&ndash;//section&ndash;&gt;-->
<!--{% endfor %}-->


