---
---

//
// IMPORTS
//


// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";





// from bootstrup blog
/* stylelint-disable selector-list-comma-newline-after */

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}