---
---

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

/* stylelint-disable selector-list-comma-newline-after */

body {
  padding-top: 5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.main-template {
  //padding: 3rem 1.5rem;
}

.post-item {
  margin-bottom: 40px;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

.fa-size24 .fa {
  font-size: 24px;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}


@import "highlights";
