---
---

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

/* stylelint-disable selector-list-comma-newline-after */

body {
  padding-top: 5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.main-template {
  //padding: 3rem 1.5rem;
}

.post-item {
  margin-bottom: 40px;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

@import "highlights";