<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/favicon-32x32.png">

    <title>{% if page.title %}{{ page.title }} {% if page.tags %}{% for tag in page.tags %}#{{ tag }} {% endfor %} {%
        endif %}– {% endif %}{{ site.name }} – {{ site.description }}</title>


    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3904134905954949",
    enable_page_level_ads: true
  });
</script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="https://www.samprof.com">{{ site.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Blog</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About me</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://github.com/SamProf">GitHub</a>
            </li>
			

        </ul>

        <div class="my-2 my-lg-0">
		
		<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_email"></a>
<a class="a2a_button_tumblr"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
		
		
            <!--LiveInternet counter-->
            <script type="text/javascript">
                document.write("<a href='//www.liveinternet.ru/click' " +
                    "target=_blank><img src='//counter.yadro.ru/hit?t19.6;r" +
                    escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                        ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                        screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                    ";h" + escape(document.title.substring(0, 150)) + ";" + Math.random() +
                    "' alt='' title='LiveInternet: показано число просмотров за 24" +
                    " часа, посетителей за 24 часа и за сегодня' " +
                    "border='0' width='88' height='31'><\/a>")
            </script><!--/LiveInternet-->
        </div>
    </div>
</nav>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">

                <script type="text/javascript">
                    ( function() {
                        if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
                        var unit = {"calltype":"async[2]","publisher":"SamProf","width":728,"height":90,"sid":"Chitika Default"};
                        var placement_id = window.CHITIKA.units.length;
                        window.CHITIKA.units.push(unit);
                        document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
                    }());
                </script>
                <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>

                {{ content }}
            </div>
            <div class="col-12 col-md-3">
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                    <div>
                        <b>Latest posts</b>
                    </div>
                    <ul class="list-unstyled">
                        {% for post in site.posts limit:10 %}
                        <li><a href="{{ post.url}}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
				
				
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"SamProf","width":160,"height":600,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>

            </div>
        </div>
    </div>

</main><!-- /.container -->


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
