<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/favicon-32x32.png">

    <title>{% if page.title %}{{ page.title }} {% if page.tags %}{% for tag in page.tags %}#{{ tag }} {% endfor %} {%
        endif %}– {% endif %}{{ site.name }} – {{ site.description }}</title>


    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3904134905954949",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Fixed navbar -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
                    <!--aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="/">SamProf - Development</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="/">Blog</a></li>-->
                <!--<li><a href="/about">About</a></li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    <!--</div>-->
<!--</nav>-->


<!-- ******HEADER****** -->
<!--<header class="header">-->
<!--<div class="container">-->
<!--<img class="profile-image img-responsive pull-left" src="/images/logo.jpg" alt="SamProf" />-->
<!--<div class="profile-content pull-left">-->
<!--<h1 class="name">SamProf</h1>-->
<!--<h2 class="desc">C# and JS Development</h2>-->
<!--&lt;!&ndash;<ul class="social list-inline">&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="#"><i class="fa fa-twitter"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="#"><i class="fa fa-google-plus"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="#"><i class="fa fa-linkedin"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="#"><i class="fa fa-github-alt"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--</div>&lt;!&ndash;//profile&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>&ndash;&gt;-->
<!--</div>&lt;!&ndash;//container&ndash;&gt;-->
<!--</header>&lt;!&ndash;//header&ndash;&gt;-->

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-9 col-sm-9 col-xs-12">
            {{ content }}
        </div><!--//primary-->
        <div class="secondary col-md-3 col-sm-3 col-xs-12">
        </div>
    </div><!--//row-->
</div><!--//masonry-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
        <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com"
                                                                                 target="_blank">3rd Wave Media</a> for
            developers
        </small>
    </div><!--//container-->
</footer><!--//footer-->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
